<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Training_Vendors::test_vendors" title="Hello Test" sortOrder="51">
                    <resource id="Training_Vendors::vendors_post" title="Vendors Posts" sortOrder="10"/>
                    <resource id="Training_Vendors::test_vendors_configuration" title="Vendors Configuration" sortOrder="99" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Training_Vendors::test_vendors_config" title="Hello Test Vendors"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
