<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="training_vendors_post_listing_data_source" xsi:type="string">Training\Vendors\Model\ResourceModel\Vendors\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Training\Vendors\Model\ResourceModel\Vendors\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <!--"mainTable": Tên bảng-->
            <argument name="mainTable" xsi:type="string">training_vendors</argument>
            <argument name="resourceModel" xsi:type="string">Training\Vendors\Model\ResourceModel\Vendors</argument>
        </arguments>
    </virtualType>
</config>
