<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- ContactsGridDataProvider -->
    <virtualType name="VendorsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Training\Vendors\Model\ResourceModel\Vendors\Grid\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">VendorsGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="VendorsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>




    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="training_vendors_post_listing_data_source" xsi:type="string">Training\Vendors\Model\ResourceModel\Vendors\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Training\Vendors\Model\ResourceModel\Vendors\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <!--"mainTable": Tên bảng-->
            <argument name="mainTable" xsi:type="string">training_vendors</argument>
            <argument name="resourceModel" xsi:type="string">Training\Vendors\Model\ResourceModel\Vendors</argument>
        </arguments>
    </virtualType>
</config>
